<div class="container-fluid">
	<div class="jumbotron about">
		<div class= "main-container">
    	<h1>ABOUT<br/></h1>
    	<h2>Hello surfer.</h2>
    	<h2>We are happy to help you get back into the water!</h2>
  	</div>

  </div> <!-- /jumbotron -->
</div> <!-- container-fluid -->