<div class="container-fluid">
	<div class="jumbotron contact">
		<div class= "main-container">
    	<h1>CONTACT<br/></h1>
    	<h2>This is a project of HaveMoreWanderlust</h2>
    	<h2>...</h2>
  	</div>

  </div> <!-- /jumbotron -->
</div> <!-- container-fluid -->